.mainContainer {
  display: flex;
  flex-direction: row;
  margin-left: 90px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.imageContainer h4 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/21px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  font: normal normal bold 16px/21px Roboto Slab;
  letter-spacing: 0px;
  color: #f0972a;
  opacity: 1;
}

.imageContainer img {
  width: 234px;
  height: 147px;
  border: 1px solid var(--midgrey);
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  opacity: 1;
  margin-bottom: 20px;
}

.imageContainer button {
  width: 234px;
  height: 32px;
  border: 1px solid var(--midgrey);
  border: 1px solid #a5a5a5;
  opacity: 1;
  color: var(--midgrey);
  border-radius: 5px;
}

.detailsContainer {
  margin-right: 20px;
}

.detailsContainer label {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/21px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  font: normal normal bold 16px/21px Roboto Slab;
  letter-spacing: 0px;
  color: #f0972a;
  opacity: 1;
}

.detailsContainer input {
  width: 562px;
  height: 40px;
  border: 1px solid var(--midgrey);
  background: #f0efea 0% 0% no-repeat padding-box;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  opacity: 1;
  margin: 10px 0 20px 0;
}

.detailsContainer input::placeholder {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / var(--unnamed-line-spacing-19)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--midgrey);
  text-align: left;
  font: normal normal bold 14px/19px Roboto;
  letter-spacing: 0px;
  color: #a5a5a5;
  opacity: 1;
}

.detailsContainer button {
  width: 124px;
  height: 40px;
  background: var(--green) 0% 0% no-repeat padding-box;
  background: #96bb36 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  color: var(--white);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.detailsMiddleContainer {
  display: flex;
  flex-direction: row;
}

.detailsMiddleContainer label {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/21px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  font: normal normal bold 16px/21px Roboto Slab;
  letter-spacing: 0px;
  color: #f0972a;
  opacity: 1;
}

.detailsMiddleContainer input {
  width: 165px;
  height: 40px;
  border: 1px solid var(--midgrey);
  background: #f0efea 0% 0% no-repeat padding-box;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  opacity: 1;
  margin-right: 28px;
}

.recipeContainer {
  display: flex;
  flex-direction: column;
}

.recipeContainer label {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/21px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  font: normal normal bold 16px/21px Roboto Slab;
  letter-spacing: 0px;
  color: #f0972a;
  opacity: 1;
}

.recipeContainer input {
  width: 265px;
  height: 260px;
  border: 1px solid var(--midgrey);
  background: #f0efea 0% 0% no-repeat padding-box;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  opacity: 1;
  margin-top: 10px;
}
