.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
}

.logoContainer {
  height: 150px;
  display: flex;
  align-items: center;
}

.logoContainer img {
}

.middleContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.middleContainer li {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--midgrey);
  text-align: left;
  text-transform: uppercase;
  opacity: 1;
  padding: 0 5px;
  display: flex;
}

.dot {
  color: var(--orange);
  margin: 0 5px;
  padding-left: 5px;
}

.rightContainer {
  display: flex;
  flex-direction: row;
}
