.rightContainer {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.rightContainer p {
  font: var(--unnamed-font-style-normal) normal 900 16px/21px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  opacity: 1;
  padding: 0 20px;
}

.btnLogin {
  width: 108px;
  height: 44px;
  border: 1px solid var(--midgrey);
  opacity: 1;
  border-radius: 4px;
  font: var(--unnamed-font-style-normal) normal 900 16px/21px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--midgrey);
  text-align: center;
  text-transform: uppercase;
}

.btnCreateAccount {
  width: 179px;
  height: 44px;
  background: var(--green) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal 900 16px/21px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
